@myScope:registry=https://pkgs.dev.azure.com/TechQode/_packaging/TechQode/npm/registry/
//https://pkgs.dev.azure.com/TechQode/_packaging/TechQode/npm/registry/:_password={{wjqubojxc2kmogoq7rraftkyaxwbddqc74gku7bxiznf5cvolirq}}
//https://pkgs.dev.azure.com/TechQode/_packaging/TechQode/npm/registry/:username="tq.lead1@outlook.com"
//https://pkgs.dev.azure.com/TechQode/_packaging/TechQode/npm/registry/:email="tq.lead1@outlook.com"
//https://pkgs.dev.azure.com/TechQode/_packaging/TechQode/npm/registry/:always-auth = true
